a{
    color: $primaryText;
    &:hover{
        text-decoration: none;
    }
}
label {   
    margin-bottom: .2rem;
}

.bg-dark{
    background-color: #7C7D7D !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #eeeeee;    
}

.btn{
    &.btn-primary{
        color: $white;
    }
    &.btn-warning{
        color: $white !important;
    }
    &.btn-dark{
        background-color: lighten($black, 25%);
    }
    &.btn-success{
        border-color: darken($primaryColor, 5%) !important;
        background-color: $primaryColor !important;
        box-shadow: none !important;
        &:hover{           
            background-color: darken($primaryColor, 5%) !important;
        }
    }
    &.btn-outline-dark {
        color: lighten($black, 25%);
        border-color: lighten($black, 25%);
        &:hover{
            color: $white;
            background-color: lighten($black, 25%);
            border-color: lighten($black, 25%);
        }
    }
    &.btn-light{
        border-color: #d6dade !important;        
    }
}

.btn-link{
    text-decoration: none !important;
}

.btn{
    align-items: center;
}

.closing-btn{
    background-color: #eee;
    border: 1px solid #ccc;
    color: $accent1 !important;
    padding: 4px 20px;
    box-shadow: none !important;
    transition: none;
    &.active{
        background-color: $primaryColor;   
        color: $white !important;
    }
}

.badge-dark{
    background-color: $black;
}

.table{
    width: calc(100% - 1px);
}



.table-success, .table-success>th, .table-success>td {   
    background-color: #e9ffd4;
}

body{
    font-family: 'Roboto', sans-serif;
}
// .c-wrapper:not(.c-wrapper-fluid) .c-body {
//     flex-direction: column;
//     overflow-y: visible;
// }
.c-sidebar {
    color: #333;
    background: $primaryDark;
    border-right: 1px solid #d8dbe0;
}
.c-app {      
    background-color: #f6ffed;
}
.c-sidebar-brand-full{
    width: 180px;
}
.c-sidebar-brand-minimized{
    width: 45px;
}

.c-sidebar .c-sidebar-nav-link, 
    .c-sidebar .c-sidebar-nav-dropdown-toggle,
    .c-sidebar .c-sidebar-nav-title {
        color: $white;      
    }
    .c-sidebar .c-sidebar-brand {   
        background: #eee;       
    }
   
    .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon, 
    .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon,
    .c-sidebar-nav-item a+a {
        color: $white;      
    }    
    .badge-success {   
        background-color: $primaryText;
    }
    .data-table .c-info a[href*="mailto:"],.avatar-link {
        color: $primaryText  !important;
    }

.c-sidebar-nav-divider{
    .separator{
        display: block;
        height: 1px;
        background-color: rgba($black, 0.3);
    }
}




.c-sidebar-nav-item{
    position: relative;
    a{
        + a{
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;         
            right: 15px;        
            z-index: 9;
            top: 6px;
            font-size: 12px;
            text-decoration: none !important;            
            transition: opacity 0.3s;
            &:hover{
                opacity: 0.7;
            }
        }
        &:hover{
            + a{
                color: $white;
            }
        }
    }
}

.c-sidebar-nav-link{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
}


.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-sidebar-nav-link:hover{
    background: $white;
    color: $primaryText;
    .c-sidebar-nav-icon{
        color: $primaryText;
    }
    + a{
        color: $primaryText;
    }
}




.has-edit{    
    .c-sidebar-nav-link{
        padding-right: 40px;
        white-space: normal;
    }
}

.c-header-brand{
    .logo-m{
        width: 120px;
    }
}

.c-icon{
    [class*="icon-"]{
        position: relative;
        top: -2px;
    }
}

.c-header-nav{
.c-header-nav-link{
    position: relative;   
    .c-icon{
        width: auto !important;
        height: auto !important;
        font-size: 20px !important;
        line-height: 1;
        [class*="icon-"]{
            position: static;           
        }
    } 

.inline{
    position: static;
    margin-top: 0;
    margin-left: 5px !important;
}


}
}

.c-sidebar-nav-icon{
  height: auto !important;
}

.btn-outline-primary:hover {
    color: $white !important;    
}
.dropdown-item{
    padding: 3px 1.25rem;
    font-size: 13px;
    .c-icon{
        height: auto !important;
        [class*="icon-"]{
            top: auto;
        }
    }
}

.loader{
    display: block;
    width: 28px;
    height: 28px;    
    border-radius: 50%;    
    border: 3px solid #e1e1e1;
    border-top-color: $primaryColor;
    animation: loader 1s linear infinite;
}

@keyframes loader{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.c-body{
    overflow-y: visible !important;
}
.c-header{
    position: fixed !important;
}

@include media-breakpoint-up(lg){
    .c-header{       
        margin-left: 256px;
        transition: margin-left .25s;
    }
    .nav-hide{
        .c-header{            
            margin-left: 0;            
        }
    }


}

.table-striped{
    border: 1px solid $border-color;
}

.title-row{
    .form-box{
        .form-group{
            margin-bottom: 10px;
            label{
                color: $primaryText;
                font-weight: 700;
            }
        }
    }
}

// .title-row{
//     background: $primaryColor;
//     margin-left: -30px;
//     padding-left: 15px;
//     margin-right: -30px;
//     padding-right: 15px;
//     margin-top: -15px;
//     padding: 5px 15px;
//     color: #fff;
// }