
@media(max-width: 1199px){
   .vertical-list{
       margin-bottom: 20px;
       overflow-y: hidden;
       overflow-x: auto;
       -webkit-overflow-scrolling: smooth;
       .list-group{
           display: flex;
           white-space: nowrap;
           flex-direction: row;
           a{
               width: auto;
               width: auto;
               padding: 5px 10px;
               border: 1px solid $border-color;
               border-radius: 5px 5px 0 0;
           }
       }
   }


.sidebar-tab-wrap{
   > .row{
      >  .col-auto{
            flex-basis: 100%;
        }
    }

 .sidbar-tabs{
    margin-bottom: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: 0;
    -webkit-overflow-scrolling: smooth;
    .sidebar-tab-links{
        margin-bottom: 5px;
        display: flex;
        white-space: nowrap;
        li{
            a{
                border-radius: 5px;
                &.active{
                    background-color: $white;
                    border: 1px solid $border-color;
                }
            }
        }
    }
 }



}



.sidebar-column{
    margin-top: 30px;
    .sc-inner{
        border: 1px solid $border-color;
        width: 100%;
    }
}





}
// 1199px end



@media(max-width: 991px){
   html .c-subheader .c-subheader-nav{
       margin-right: 0 !important;
   }
}
// 991px end


@media(max-width: 767px){
    .breadcrumb{
        padding-left: 0;
    }
    

.tabs-link{
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: smooth;
    .nav-tabs{
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}

.avatar-info{
    .media{
        margin-bottom: 15px;
    }
    .col.px-2{
      display: flex;
      align-items: center;
      .pt-2{
          padding-top: 0 !important;
          padding-left: 10px;
      }
    }
}

}
// 767px end

@media(max-width: 575px){
   
}
// 575px end