$primaryColor: #7AB742;
$primaryDark: #518d18;
$primaryText: #518d18;
$secondaryColor: #1a6160;

$textPrimary: #85CBB1;
$border-color: #d8dbe0;
$accent1: #231F20;
$accent2: #6D6E71; 
$accent3: #808285;
$accent4: #e6e7e8;
$bodyTextColor: #808285;
$placeholderColor: #ababab;
$white: #fff;
$black: #000;
$darkGray: #414042;
$lightGray: #F1F2F2;